@charset "UTF-8";

body {
    background-color:rgb(119, 239, 199);
}

h1 {
    color:rgb(55, 112, 93);
}

h1#principal {
    text-align: center;
    color:lightsalmon;
    background-color: blue;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: rgb(23, 204, 144);
}

.basico{
    color: rgb(23, 204, 35);
}

.intermediario{
    color: rgb(204, 186, 23);
}

.avancado{
    color: rgb(204, 38, 23);
}