@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}   

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

body{
background-color: lightcoral;
}

header{
    background-color: black;
    text-align: center;
    height: 200px;
    color: white;
    font-family: var(--font1);
}

header > h1{
    font-family: var(--font2);
    font-variant: small-caps;
    font-size: 5em;
    padding-top: 50px;
    font-weight: bold
}

header>p> a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{
    padding-top: 0%;
    position: absolute;
    font-size: 2em;
    font-family: var(--font3);
}

div{
    height: 600px;
}

.branca{
    background-color: white;
}

.transparente{
    background-color: transparent;
}

.centralizar1{
    padding-top: 300px;
    max-width: max-content;
    top: 50%;
    transform: translate(-25%, -50%);
    height: auto;
    width: auto;
}

.centralizar2{
    position:inherit ;
    max-width: max-content;
    font-family: var(--font3);
    top: 50%;
    transform: translate(-25%, -50%);
    background-color: rgba(0, 0, 0, 0.345);
    height: auto;
    width: auto;
}